<div th:fragment="header">
    <div class="header2 d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a class="logo" href="/">
            <span class="logo-item">Petition</span>UA
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="button me-3 py-2 text-decoration-none" href="/">Головна</a>
            <a class="button me-3 py-2 text-decoration-none" href="/petition">Петиції</a>
            <a class="button me-3 py-2 text-decoration-none" href="/petition/new/add">Додати петицію</a>
            <a class="button me-3 py-2 text-decoration-none" href="/about">Про компанію</a>
            <a class="button me-3 py-2 text-decoration-none" href="/login">Авторизація</a>
        </nav>
        <ul class="contacts">
            <li class="nav-item">
                <a class="mail-link" href="mailto:info@petitionua.com">info@petitionua.com</a>
            </li>
        </ul>
    </div>
</div>